*.sym

#defaults
#Ignore thumbnails created by Windows
Thumbs.db
desktop.ini
#Ignore files built by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
.vs/
#Nuget packages folder
packages/
[Gg]rips*/
*.lnk
*Examina*
Datenbanken/Beispiel.pdf
Datenverarbeitungssysteme/DS*.pdf
Kommunikationssysteme/*
Robotik/grips/*
*[Kk]lausur*
*[Kk]ey.txt
*[Zz]ulassung.pdf
*.odg
/DigitalDesign/SchaltungAddierer.ods
/pg2_cpp_05a_OOA_Beispiel.pdf
/PG2_OOA.odt
/PG2_OOA.pdf
/Robotik/sync/DEA.ods
/DigitalDesign/logisim-evolution.jar
